<html>
    <head>
      <title>Water</title>
    </head>
    <body>
            <a href="{{ url_for('index') }}">Home</a>
        <div>Pumps:
            <a href="{{ url_for('pumps') }}">Pumps</a>
        </div>
        <div>Valves:
            <a href="{{ url_for('valves') }}">Valves</a>
        </div>
        <div>Create water schedule:
            <a href="{{ url_for('createWaterSchedule') }}">Create</a>
        </div>
        <div>Network:
            <a href="{{ url_for('network') }}">Network</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>


