{% extends "base.html" %}

{% block content %}
 <form action="" method="post" novalidate>
     {{ form.hidden_tag() }}
     {% if lowAgPumpStatus == 'off' %}
     <p>
      {{ form.onLowAg }}<br>
     </p>
     {% else %}
     <p>
      {{ form.offLowAg }}<br>
     </p>
     {% endif %}
     {% if medAgPumpStatus == 'off' %}
     <p>
      {{ form.onMedAg }}<br>
     </p>
     {% else %}
     <p>
      {{ form.offMedAg }}<br>
     </p>
     {% endif %}
     {% if highAgPumpStatus == 'off' %}
     <p>
      {{ form.onHighAg }}<br>
     </p>
     {% else %}
     <p>
      {{ form.offHighAg }}<br>
     </p>
     {% endif %}
     {% if domPumpStatus == 'off' %}
     <p>
      {{ form.onDom }}<br>
     </p>
     {% else %}
     <p>
      {{ form.offDom }}<br>
     </p>
     {% endif %}


 </form>

{% endblock %}
